<mat-tab-group mat-align-tabs="start" class="mat_tab">
    <mat-tab label="Personagens">
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
            <ng-container *ngFor="let people of peoples" style="margin: 0.5%;">
                <mat-card class="mat-card-live" fxFlex="10px">
                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span>{{people.name}}</span>
                            </p>
                        </div>                        
                    </mat-card-title>
                    <mat-card-content style="margin-left: 1em; margin-bottom: 1em;">
                        <p>
                            Altura: 
                            {{people.height}} cm
                        </p>

                        <p>
                            Peso: 
                            {{people.mass}} kgs
                        </p>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Filmes">Content 2</mat-tab>
</mat-tab-group>